<div>
    <h1>{{product.title}}</h1>
    <p>{{product.description}}</p>
    <ul>
        <li>Precio: {{product.price}}</li>
        <li>Thumbnail: {{product.thumbnail}}</li>
        <li>Code: {{product.code}}</li>
        <li>Stock: {{product.stock}}</li>
        <li>Status: {{product.status}}</li>
    </ul>
</div>